<!doctype html><!-- Header {{{ -->
<!--
	vim:fdm=marker fdl=0 ts=2 sts=2 sw=2
-->
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Reflow Toaster Kit</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/night.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
	<!-- }}} -->
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Reflow Toaster Kit</h1>
					<h3>Ryan Pennucci</h3>
				</section>

				<section>
					<h2>Reflow Soldering</h2>
					<section>
						<p>Ambient heat melts solder paste</p>
						<p class="fragment">...but not components</p>
						<div class="fragment">
							<img src="Profile.svg" width="800px" style="filter: invert(1); border-color: #111"></img>
							<p>Image courtesy of Zithan, via Wikimedia Commons</p>
						</div>
					</section>
					<section>
						<ul>
							<li>Easier than hand-soldering</li>
							<li>More components available</li>
							<li>Hard for hobbyists</li>
						</ul>
					</section>
				</section>

				<section>
					<h2>Project Goal</h2>
					<p>Produce a low-cost kit with everything needed to convert a toaster oven into a reflow oven</p>
					<section>
						<h3>Physical modifications</h3>
						<ul>
							<li>Insulation</li>
							<li>Infrared shields</li>
							<li>Actuator to open door</li>
						</ul>
					</section>
					<section>
						<h3>Control circuitry</h3>
						<ul>
							<li>Relays to switch heating elements</li>
							<li>Relay to switch circulation fan</li>
							<li>Temperature sensors</li>
							<li>Circuitry to tie everything together</li>
						</ul>
					</section>
					<section>
						<img src="PCB.png" height="700px"></img>
					</section>
					<section>
						<h3>Tradeoffs</h3>
						<ul>
							<li>Imprecise control</li>
							<li>No built-in interface</li>
						</ul>
					</section>
					<section>
						<h3>Software</h3>
						<ul>
							<li>Configure temperature profile</li>
							<li>Configure controller parameters</li>
							<li>Live display of oven status</li>
							<li>Someday: diagnostics and calibration</li>
							<li>Someday: complex control schemes</li>
						</ul>
					</section>
					<section>
						<img src="UI.png" height="700px"></img>
					</section>
				</section>

				<section>
					<h2>The Rust Programming Language</h2>
					<ul>
						<li>Memory safety</li>
						<li>Efficiency, predictability, determinism</li>
						<li>Easy code reuse</li>
					</ul>
				</section>

				<section>
					<h2>Benefits for this project:</h2>
					<section>
						<h3>Single, <i>good</i> language on MCU & PC</h3>
						<ul>
							<li>Powerful, productive libraries for PC</li>
							<li>(Slightly fewer) powerful, productive libraries for MCU</li>
							<li>Built-in unit testing</li>
							<li>"Memory" safety is really <i>resource</i> safety</li>
						</ul>
					</section>
					<section>
						<h3>Shared code, data structures</h3>
						<img src="Protocol.png" height="550px"></img>
					</section>
					<section>
						<h3>Composable libraries</h3>
						<img src="Encode.png" height="238px"></img>
					</section>
					<section>
						<p>Generally a nice language to use</p>
					</section>
				</section>

				<section>
					<h2>Special thanks</h2>
					<ul>
						<li>Gary Shores</li>
						<li>Michael Marceau</li>
						<!-- TODO Jim??? -->
					</ul>
				</section>

				<section>
					<h2>Questions?</h2>
				</section>
			</div>
		</div>
		<!-- Footer {{{ -->

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				//controlsTutorial: false,
				width: 1920,
				height: 1080,
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html><!-- }}} -->
